@use '~@angular/material/theming' as m;

mat-sidenav-container{
  height:100%;
}

mat-sidenav{
  background-color: black;
  width:15%;
}

mat-sidenav-content{

  background-color:black;
}

.content{
  width: 100vw;
  height: calc(100vh - m.$mat-toolbar-height-desktop);
  min-height: calc(100vh - m.$mat-toolbar-height-desktop);
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  // border:1px solid red;
  padding-top:16px;
  padding-left:8px;
  padding-right:16px;
  padding-bottom:16px;
}
