
@function modify-background($theme, $background-color) {
  // Replace the background in the color object's background palette.
  $theme-color: map-get($theme, color);
  $color-background-palette: map-get($theme-color, background);
  $color-background-palette: map-merge($color-background-palette, (background: $background-color));
  $color-background-palette: map-merge($color-background-palette, (raised-button: $background-color));

  // Replace the background in the background palette.
  $background-palette: map-get($theme, background);
  $background-palette: map-merge($background-palette, (background: $background-color));
  $background-palette: map-merge($background-palette, (raised-button: $background-color));

  // Merge the changes into a new theme.
  $modified-theme: map-merge($theme, (color: (background: $color-background-palette)));
  $modified-theme: map-merge($theme, (background: $background-palette));

  @return $modified-theme;
}
